@model Application.Models.LoginViewModel

@{
    Layout = "_Login";
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <h2>Login</h2>

            @if (ViewBag.Erro != null)
            {
                <h3 style="padding: 20px; color: white; background-color: dimgray">
                    @ViewBag.Erro
                </h3>
            }

            <div class="form-group">            
                @Html.LabelFor(u => u.Email, new { @class = "control-label"})
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Password, new { @class = "control-label"})
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default btn-primary" value="Login" />
            </div>

        }
        
    </div>
</div>